/*
#################### VALUES ####################
########## SECRET VALUES ##########
#####  Declare confidential variables here
#####  Store secret values in *.tfvars file
#####  Check .gitignore in repo for details
########## SECRET VALUES ##########
arm_tenant_id          = "YourTenantId"               // azure tenant id
arm_subscription_id    = "YourSubscriptionId"         // azure subscription id
arm_client_id          = "YourServicePrincipalId"     // azure service principal id
arm_client_secret      = "YourServicePrincipalSecret" // azure service principal secret
vm_localadmin_user     = "YourAdminUsername"          // vm local admin username 'localadmin'
vm_localadmin_pswd     = "YourAdminPassword"          // vm local admin password 'P@ssw0rd!234'

########## PROJECT VALUES ##########
project_name         = "azureclaw"    // unique name for project/rg/vm
location             = "eastus2"      // azure region to deploy
vm_size              = "Standard_B2s" // 2 cpu 4 ram
vm_disk_size_gb      = 64             // 64 GB os-disk
allow_gateway_public = false          // openclaw gateway on public ip
*/
